body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s linear;
}

body.dark {
  background-color: #292c35;
}

.header__wrap {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #efefff;
  z-index: 1;
  transition: background-color 0.2s linear;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding: 20px 50px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  color: #eee;
}

.header__logo .header__logo__title {
  margin: 1rem;
  font-weight: 500;
}

.header__menu {
  display: flex;
  font-size: 18px;
  font-weight: 500;
}
.header__center-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__center-menu > li {
  margin: 0 2rem;
  cursor: pointer;
}

.header__toggle {
  display: flex;
  margin-right: 20px;
}

.label {
  display: flex;
  position: relative;
  background-color: #111;
  border-radius: 50px;
  width: 50px;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  padding: 3px 2px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.ball {
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 3px;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  transition: all 0.3s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(26px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.header__right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
}

.header__right-menu__profile-img {
  width: 40px;
  height: 40px;
  margin-left: 1rem;
}

.header__right-menu__profile-img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.main__wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 180px 216px 0;
}

.aside__snb__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.aside__snb__items > li {
  font-size: 16px;
  padding: 10px 15px;
  font-weight: 500;
  margin-bottom: 25px;
}

.active {
  border: 1px solid #efefff;
  border-radius: 20px;
}

.main__boundary {
  height: 260px;
  margin-left: 150px;
  border: 0.5px solid #efefff;
}

.article {
  width: 100%;
  padding: 77px;
}

.article__title {
  font-size: 24px;
  margin: 3px 0 30px 0;
}

.article__profile__img-desc {
  display: flex;
}

.article__profile__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #efefff;
  background-color: #ffffff;
  box-shadow: 0 0 30px #ccc;
}

.article__profile__img {
  width: 168px;
  height: 168px;
  padding: 16px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
}

.article__profile__name {
  margin-left: 35px;
}

.article__profile__name-first-wrap {
  position: relative;
  margin-bottom: 20px;
}

.article__profile__name-last-wrap {
  position: relative;
  margin-bottom: 20px;
}

article__profile__name-wrap {
  padding: 3px;
}

.label_dark {
  position: absolute;
  left: 15px;
  font-size: 13px;
  padding: 0 6px;
  background-color: #ffffff;
  transition: background-color 0.2s linear;
}

.article__profile__name-first-wrap,
.article__profile__name-last-wrap {
  display: flex;
  flex-direction: column;
}

.name {
  width: 185px;
}

.article__profile__name-first,
.article__profile__name-last {
  font-size: 16px;
  padding: 23px 30px;
  margin-top: 7px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.article__infos {
  margin-top: 60px;
}

.article__infos__profession-wrap {
  position: relative;
  margin-bottom: 20px;
}

.article__infos__profession-label {
  position: relative;
  padding: 3px;
}

.article__infos__profession-wrap {
  display: flex;
}

.article__infos__profession {
  font-size: 16px;
  padding: 23px 30px;
  margin-top: 7px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.info {
  width: 420px;
}

.article__infos__about,
.article__infos__interest {
  line-height: 1.4;
}

.article__links__title {
  font-size: 24px;
  margin: 30px 0 10px;
}

a {
  text-decoration: none;
  color: #292c35;
}

a.dark {
  text-decoration: none;
  color: #eee;
}

a a.dark {
  transition: all 0.2s linear;
}

i {
  margin-right: 3px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 14px;
  background-color: #fcfcff;
  transition: background-color 0.2s linear;
}

.dark {
  color: #eee;
  background-color: #292c35;
}
